.cart__heder {
    display: flex;
    align-items: center;
    gap: 115px;
    padding: 10px;
    border-bottom: 2px solid #f6f7f8;
}
.cart__item:first-child {
    margin-right: 505px;
    margin-left: 100px;
}
